.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.hideMobile {
  display: none;
}

.hideDesktop {
  display: initial;
}

@media (min-width: 768px) {
  .hideMobile {
    display: initial;
  }
  
  .hideDesktop {
    display: none;
  }
}