* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Public Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 16px;
}


a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

pre {
  overflow-x: auto;
  padding: 1.25rem;
  border-radius: 8px;
  margin-top: 1.5rem;
}

table {
  padding-top: 1.25rem;
  border-spacing: 0;
}

table thead th,
table tfoot th {
  background: var(--lineBreak);
}

table caption {
  padding: 1rem;
}

table th,
table td {
  padding: 1rem;
  border-top: 1px solid var(--lineBreak);
  border-left: 1px solid var(--lineBreak);
}

table th:last-child,
table td:last-child {
  border-right: 1px solid var(--lineBreak);
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: 1px solid var(--lineBreak);
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

table thead tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

main {
  padding-bottom: 8rem;
  min-height: calc(100vh - 217px);
}

.highlight {
  background: #212836;
  border-radius: 4px;
  padding: 2px 6px;
  color: orange;
  margin: auto 3px;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --foregroundDarker: #646464;
  --lineBreak: #ececec;
}

[data-theme="dark"] {
  --background: #161b26;
  --foreground: white;
  --foregroundDarker: #888e9b;
  --lineBreak: #212836;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
