.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.mainTitle {
  padding: 4rem 0;
}

.errorContainer {
  margin: 6rem 0;
}

.postTitleContainer {
  padding: 4rem 0;
}

.postTitle {
  font-size: 36px;
  font-weight: 600;
}

.underTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0;
}

.underTitle p {
  color: var(--foregroundDarker);
}

.underTitle p:first-child {
  position: relative;
  padding-right: 2rem;
}

.underTitle p:first-child::after {
  display: block;
  content: "";
  width: 0.8rem;
  height: 1px;
  background-color: var(--foregroundDarker);
  position: absolute;
  top: 50%;
  right: 0.6rem;
}

.postImage {
  height: 30vh;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 4rem;
}

.blogContentContainer {
  display: block;
}

.blogAside {
  display: none;
}

.blogTableOfContents h2 {
  padding-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid var(--lineBreak);
  margin-bottom: 1rem;
}

.blogTableOfContents a {
  display: block;
  padding: 0.5rem 0;
  font-size: 13px;
  border-radius: 4px;
  transition: all ease-in-out 250ms;
}

.blogTableOfContents a:hover {
  background: var(--lineBreak);
  padding: 0.5rem;
}

a.headingActive {
  background: var(--lineBreak);
  padding: 0.5rem;
}

.blogContent {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.blogContent img {
  max-width: 100%;
  object-fit: cover;
  margin: 1.5rem 0;
}

.shareOnTwitter {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0091f3;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  margin-top: 4rem;
  color: white;
}

.shareOnTwitter:hover {
  text-decoration: underline;
}

.shareOnTwitter span {
  margin-left: 0.75rem;
}

.hideMobile {
  display: none;
}

.hideMobileTable {
  display: none;
}

.hideDesktop {
  display: initial;
}

@media (min-width: 768px) {
  .hideMobile {
    display: initial;
  }

  .hideMobileTable {
    display: table-cell;
  }

  .hideDesktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .shareContainer {
    display: flex;
    justify-content: flex-end;
  }

  .postImage {
    height: 50vh;
    margin-bottom: 6rem;
  }

  .blogAside {
    display: block;
  }

  .blogContentContainer {
    display: grid;
    grid-template-columns: 256px minmax(0, 1fr);
  }

  .blogTableOfContents {
    position: sticky;
    top: 3rem;
    display: block;
    padding-right: 2rem;
    margin: 2rem auto 0;
    width: 256px;
  }
}
